<% @taxons.each do |taxon| %>

   <div class="row">
      <div class="col-sm-9 col-12">
         <h2>
            <%= taxon.name %>
         </h2>
      </div>
      <div class="col-sm-3 col-12" id="seeall_desktop">
         <div class="d-none d-lg-block">
            <a href="/t/<%= taxon.permalink %>" class="btn btn-dark float-right">SEE ALL</a>
         </div>
      </div>
   </div>

   <div class="row"> 
   <% taxon.products.last(4).each do |product| %>
   <% url = spree.product_path(product, taxon_id: @taxonomies.try(:id)) %>    
   <div class="col-6 col-md-3">
      <figure class="text-center">
         <%= link_to url, itemprop: "url", data: { turbolinks: false } do %>
            <div class="containerdiv">
             <%= image_tag("/assets/lagyi_image/#{product.sku.downcase}/1.jpg", 
               itemprop: "image", 
               :class=>"img-fluid",:alt=>"ProductImage",
               :onmouseover =>"this.src='/assets/lagyi_image/#{product.sku.downcase}/2.jpg'",
               :onmouseout =>"this.src='/assets/lagyi_image/#{product.sku.downcase}/1.jpg'") %>
            <div>
         <% end %>
      </figure>
      <%= render 'spree/products/custom_cart', :product => product %>
      </div>
      <% end %>
   </div>

   <div class="d-lg-none">
      <div class="container-fluid h-100 header-spree-fluid">
        <div class="row">
          <div class="col text-center">
            <a href="/t/<%= taxon.permalink %>" class="btn btn-dark">SEE ALL</a>
          </div>
        </div>
      </div> 
   </div>
<% end %>