<h1>
  <%= Spree.t('user_mailer.reset_password_instructions.welcome', email: @user.email) %>
</h1>
<p>
  <%= Spree.t('user_mailer.reset_password_instructions.instructions_1', { store_name: @current_store.name }) %>
</p>
<p>
  <%= Spree.t('user_mailer.reset_password_instructions.instructions_2') %>
</p>
<p class="body-action">
  <a href="<%= @edit_password_reset_url.gsub('http','https') %>" class="button button--green"><%= Spree.t('user_mailer.reset_password_instructions.button') %></a>
</p>
<p>
  <%= Spree.t('user_mailer.reset_password_instructions.instructions_3') %>
</p>
<p>
  <%= Spree.t('user_mailer.reset_password_instructions.thanks') %>
  <br />
  <%= Spree.t('user_mailer.reset_password_instructions.store_team', { store_name: @current_store.name }) %>
</p>
