<%= Spree.t('order_mailer.cancel_email.dear_customer', name: name_for(@order)) %>
<%= Spree.t('order_mailer.cancel_email.instructions') %>

============================================================
<%= Spree.t('order_mailer.cancel_email.order_summary_canceled', number: @order.number) %>
============================================================
<%= render 'spree/shared/purchased_items_table', line_items: @order.line_items, order: @order %>
============================================================
<%= Spree.t('order_mailer.total') %> <%= @order.display_total %>
<%= Spree.t('order_mailer.cancel_email.thanks') %>
<%= Spree.t('order_mailer.store_team', store_name: current_store.name) %>