<%= Spree.t('order_mailer.store_owner_notification_email.heading') %>
<%= Spree.t('order_mailer.store_owner_notification_email.instructions') %>

============================================================
<%= Spree.t('order_mailer.store_owner_notification_email.order_summary', number: @order.number) %>
============================================================
<%= render 'spree/shared/purchased_items_table', line_items: @order.line_items, order: @order %>
============================================================
<%= Spree.t('order_mailer.total') %> <%= @order.display_total %>
<%= Spree.t('order_mailer.store_owner_notification_email.thanks') %>
<%= Spree.t('order_mailer.store_team', store_name: current_store.name) %>