<h1>
  <%= Spree.t('order_mailer.store_owner_notification_email.heading') %>
</h1>
<p>
  <%= Spree.t('order_mailer.store_owner_notification_email.instructions') %>
</p>
<table class="purchase" role="presentation">
  <tr>
    <td>
      <h3><%= Spree.t('order_mailer.store_owner_notification_email.order_summary', number: @order.number) %></h3>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <%= render 'spree/shared/purchased_items_table', line_items: @order.line_items, order: @order %>
    </td>
  </tr>
</table>
<p>
  <%= Spree.t('order_mailer.store_owner_notification_email.thanks') %>
  <br />
  <%= Spree.t('order_mailer.store_team', store_name: current_store.name) %>
</p>