<div class="container">
  <div class="not-found-page text-center pt-5">
    <h1 class="display-1 text-primary">500</h1>
    <p><strong>Temporarily Down for Maintenance</strong></p>
    <p>We are performing schedule maintenance. We should be back online shortly.</p>
  </div>
</div>
