<% if !try_spree_current_user || try_spree_current_user.email.blank? %>
  <div class="row">
    <div class="col-12 mb-4">

        <span style="color:gray;">Already have an Account? </span>
        <a href="/checkout/registration">Sign in</a><br><br>
        
        <div class="form-group checkout-content-inner-field has-float-label">
          <%= form.email_field :email, class: 'required spree-flat-input', required: true, placeholder: Spree.t(:email) %>
          <%= form.label :email, class: 'text-uppercase' %>
        </div>
    </div>
  </div>
<% end %>

<div class="row">
  <% ['billing', 'shipping'].each do |address_type|
    address_name = "#{address_type[0...4]}_address" %>
    <div class="col-12 mb-4" data-hook="<%= address_type %>_fieldset_wrapper">
      <div id="<%= address_type %>" data-hook>
  
        <% if address_type == 'shipping' %>

          <div class="spree-checkbox-container checkout-content-billing-checkbox" data-hook="use_billing" style="display:none;">
            <div class="spree-checkbox">
              <%= check_box_tag 'order[use_billing]', '1', @order.shipping_eq_billing_address?, { class: 'form-check-input'} %>
              <%= label_tag :order_use_billing, nil, id: 'use_billing' %>
            </div>
            <%= label_tag :order_use_billing, Spree.t(:use_billing_address), class: 'spree-checkbox-label' %>
          </div>
        <% else %>
            <h5 class="text-uppercase checkout-content-header">
              Shipping Address
            </h5>
        <% end %>
        <% if user_available_addresses.present? %>
        <div class="select_address mb-5">
          <div class="form-group col">
            <% user_available_addresses.each_with_index do |address, idx| %>
            <div class="row mb-3" id="<%= [address_type, dom_id(address)].join('_') %>">
              <label class="form-check-label spree-radio-label col-8">
                <%= form.radio_button "#{address_name}_id", address.id, checked: (address.id == try_spree_current_user["#{address_name}_id"] || idx == 0) %>
                <span class="spree-radio-label-custom-input"></span>
                  <%= render "spree/users/address", address: address %>
              </label>
              <%= render "spree/users/address_controls", address: address %>
            </div>
            <% end %>
            <div class="row mb-3">
              <label class="form-check-label spree-radio-label col">
                <%= form.radio_button "#{address_name}_id", 0, class: 'form-check-input' %> <h4><%= Spree.t('address_book.other_address') %></h4>
                <span class="spree-radio-label-custom-input"></span>
              </label>
            </div>
          </div>
        </div>
        <% end %>

        <%= form.fields_for address_name do |address_form| %>
          <div class="inner checkout-content-inner" data-hook='<%= "#{address_type}_inner" %>'>
            <%= render partial: 'spree/addresses/form', locals: {
              address_name: address_name,
              address_form: address_form,
              address_type: address_type,
              address: Spree::Address.new(country: current_store.default_country),
              form: form
            } %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= hidden_field_tag 'save_user_address', true, data: { hook: "save_user_address" } %>
</div>

<div id="delete-address-popup" class="delete-address-popup-dropdown hide-on-esc">
  <%= render 'spree/shared/delete_address_popup' %>
</div>


