<div id="shipping-method" data-hook>
  <div data-hook="shipping_method_inner">
    <div id="methods">
      <%= form.fields_for :shipments do |ship_form| %>
        <div class="shipment">
          <h4 class="text-uppercase checkout-content-header checkout-content-shipping-methods-header mb-1">
            <%= Spree.t('checkout_page.delivery_method') %>
          </h4>
          <div id="shipToLocation" class="mb-4 text-uppercase">
            <%= Spree.t(:ship_to) %>
            <span class="text-muted"><%= @order.shipping_address.address1 %></span> -
              <% if @order.shipping_address.zipcode.present? %> <span class="text-muted"><%= @order.shipping_address.zipcode %></span> - <% end %>
            <span class="text-muted"><%= @order.shipping_address.country_iso %></span>
          </div>

          <ul class="checkout-content-shipping-methods-list">
            <% ship_form.object.shipping_rates.each do |rate| %>
              <li class="shipping-method">
                <label class="spree-radio-label">
                  <%= ship_form.radio_button :selected_shipping_rate_id,
                    rate.id,
                    data: {
                      behavior: 'shipping-method-selector',
                      cost: rate.display_cost,
                      tax: rate.display_tax_amount
                    } %>
                  <span class="spree-radio-label-custom-input"></span>
                  <span class="rate-name"><%= rate.name %> </span>
                  <p class="rate-cost"><%= rate.display_cost %> </p>
                  Estimated Delivery on 
                  <% if rate.name == 'Standard Delivery' %>
                      <%= (Time.now + 12.days).strftime("%B %d") %>
                  <% else %>
                    <%= (Time.now + 8.days).strftime("%B %d") %>
                  <% end %>
                </label>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <% if Spree::Config[:shipping_instructions] %>
      <div id="minstrs" data-hook>
        <h4 class="h5">
          <%= Spree.t(:shipping_instructions) %>
        </h4>
        <%= form.text_area :special_instructions, cols: 40, rows: 4, class: "form-control" %>
      </div>
    <% end %>
  </div>
</div>
