<script type="text/javascript">

window.onload = function() {

   if(window.location.href.includes("checkout")) {

      /**
       * 
       * @param {number} min 
       * @param {number} max 
       * 
       * @returns {string}
       */
         const getRandomId = (min = 0, max = 500000) => {
           min = Math.ceil(min);
           max = Math.floor(max);
           const num =  Math.floor(Math.random() * (max - min + 1)) + min;
           return num.toString().padStart(6, "0")
         };

         paypal.Buttons({
            
         createOrder: function(data, actions) {

         invoice = getRandomId();
                       
         return actions.order.create({
            intent: 'CAPTURE',
            purchase_units: 
            [{               
               shipping: {
                  options: 
                  [
                     {
                        id: "Fast_Delivery",
                        label: "Fast Delivery",
                        type: "SHIPPING",
                        selected: false,
                        amount: {
                                    value: "<%= @fast_shipping_cost %>",
                                    currency_code: "<%= current_currency %>"
                                 }
                     },
                     {
                        id: "Standard_Delivery",
                        label: "Standard Delivery",
                        type: "SHIPPING",
                        selected: true,
                        amount: {
                                    value: "0.00",
                                    currency_code: "<%= current_currency %>"
                                 }
                     }
                  ]},
                  amount: {
                           
                           value: '<%= @order.total %>',
                           currency: '<%= current_currency %>',
                           breakdown: {  

                              item_total: {                 
                                 currency_code: '<%= current_currency %>',
                                 value: '<%= @order.item_total %>'
                                          },
                              discount: {
                                 currency_code: "<%= current_currency %>",
                                 value: '<%= @order.adjustment_total.abs %>'
                                       }
                                    }
                          },
                  invoice_id: invoice,
                     items: [
                              <% @order.line_items.each do |item| %>
                                 {
                                    name: "<%= item.product&.name %>,<% item.variant.option_values.sort { |ov| ov.option_type.position }.each do |ov| %><%= ov.name.titleize %><% end %>",
                                    sku: '<% item.product.sku.downcase %>',
                                    unit_amount: {
                                                   currency_code: "<%= current_currency %>",
                                                   value: '<%= item.price %>'
                                                },
                                                   quantity: "<%= item.quantity %>",
                                                   category: "PHYSICAL_GOODS"
                                 },
                              <% end %>
                                                   
                            ], 
                        }]
                     });
                  },
                           
                  // Finalize the transaction after payer approval
                  onApprove: function(data, actions) {
                     return actions.order.capture().then(function(orderData) {
                                          
                        var email = orderData.payer.email_address;
                        var item_total = orderData.purchase_units[0].amount.breakdown.item_total.value;
                        var total_amount = orderData.purchase_units[0].amount.value;

                        var firstname = orderData.payer.name.given_name;
                        var lastname = orderData.payer.name.surname;
                        var phone = orderData.payer.phone.phone_number.national_number;

                        var address1 = orderData.purchase_units[0].shipping.address.address_line_1;
                        var address2 = orderData.purchase_units[0].shipping.address.admin_area_2;
                        var zipcode = orderData.purchase_units[0].shipping.address.postal_code;

                        var country = orderData.purchase_units[0].shipping.address.country_code;
                        var state = orderData.purchase_units[0].shipping.address.admin_area_1;

                        var shipment_total = orderData.purchase_units[0].shipping.options[0].amount.value;
                        var shipment_name = orderData.purchase_units[0].shipping.options[0].label;
                                    
                        var item_count = orderData.purchase_units[0].items[0].quantity;
                        var unit_amount = orderData.purchase_units[0].items[0].unit_amount.value;

                        $.ajax({
                                 url: "/payments/express_checkout",
                                 type: "post",
                                    data: { 
                                            email: email,
                                            item_total: item_total,
                                            total_amount: total_amount, 
                                            shipment_total: shipment_total,
                                            item_count: item_count,
                                            firstname: firstname,
                                            lastname: lastname,
                                            address1: address1,
                                            address2: address2,
                                            zipcode: zipcode,
                                            phone: phone,
                                            country: country,
                                            state: state,
                                            unit_amount: unit_amount,
                                            shipment_name: shipment_name,
                                            order_id: '<%= @current_order.id %>'
                                          },
                                          success: function(data) {
                                              reload_location = '<%= request.base_url %>'+"/orders/"+data["order_number"];
                                              actions.redirect(reload_location);
                                          },
                                          error: function(data) {
                                               actions.redirect('<%= request.base_url %>'+'422');
                                          }
                                        })

                                  });
                                },

                   style: {
                     layout:  'vertical',
                     color:   'gold',
                     shape:   'rect',
                     }
                 }).render('#paypal-button-container-express-checkout');
   } 
}

</script>