<% @body_id = 'checkout-page' %>

<%
content_for :head do
  agent = request.env['HTTP_USER_AGENT']
  if agent =~ /Safari/ && !(agent =~ /Chrome/)
%>
  <script>
    if (!!window.performance && window.performance.navigation.type === 2) {
      window.location.reload();
    }
    window.onpageshow = function(event) {
      if (event.persisted) {
        window.location.reload()
      }
    }
  </script>
<%
  end
end
%>

<div id="checkout" class="container checkout" data-hook>
  <%= render partial: 'spree/shared/error_messages', locals: { target: @order } %>

  <div class="row align-items-center flex-column checkout-header" data-hook="checkout_header">
    <div class="text-uppercase checkout-header-title">
      <h1 data-hook="checkout_title"><%= Spree.t('checkout_page.header') %></h1>
    </div>
    <div class="checkout-progress" data-hook="checkout_progress" role="navigation" aria-label="<%= Spree.t('checkout_page.checkout_navigation') %>">
      <%= checkout_progress %>
    </div>
  </div>

  <div class="row checkout-content" data-hook="checkout_content">
    <%= form_for @order, url: spree.update_checkout_path(@order.state), html: { id: "checkout_form_#{@order.state}", class: "w-100 d-lg-flex align-items-lg-baseline  flex-wrap position-relative", data: { turbo: false } } do |form| %>
      <div class="<%= if @order.state != 'confirm' then 'col-lg-6' else 'col-md-12' end %>" data-hook="checkout_form_wrapper">
        <%= form.hidden_field :state_lock_version %>
        <%= render @order.state, form: form %>
      </div>

      <% unless @order.confirm? %>
        <div id="checkout-summary" class="col-md-12 col-lg-auto" data-hook="checkout_summary_box">
          <div class="checkout-summary-container position-sticky">
            <%= render partial: 'summary', locals: { order: @order } %>
            <div data-hook="buttons">
              <% submit_label_key = @order.confirm? ? :place_order : :save_and_continue %>
              <%= submit_tag Spree.t(submit_label_key), id:"submit_order_btn", class: 'btn btn-primary font-weight-bold w-100 checkout-content-save-continue-button' %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  window.addEventListener('DOMContentLoaded', function() {
    Spree.current_order_id = "<%= @order.number %>"
    Spree.current_order_token = "<%= @order.token %>"
  })
</script>

<script>
  document.querySelectorAll("input[type='radio'][name='order[payments_attributes][][payment_method_id]']").forEach(function(radio) {
    radio.addEventListener("click", function() {
      const submitButton = document.querySelector("input[type='submit']");
      if (this.dataset.name === "paypal") {
        submitButton.style.display = 'none';
      } else {
        submitButton.style.display = 'block';
      }
    });
  });
</script>