
<div id="paypal-button-container" style="position: relative; z-index: 1;"></div>

<script>

window.onload = function() {

  console.log("<%= @order.ship_address.full_name %>");
  console.log("<%= @order.ship_address.first_name %>");
  console.log("<%= @order.ship_address.last_name %>");
  console.log("<%= @order.ship_address.address1 %>");
  console.log("<%= @order.ship_address.address2 %>");
  console.log("<%= @order.ship_address.city %>");
  console.log("<%= @order.ship_address.state_text %>");
  console.log("<%= @order.ship_address.zipcode %>");
  console.log("<%= @order.ship_address.country.try(:iso) %>");
  console.log("<%= @order.email %>");
  console.log("<%= @order.ship_address.phone.gsub("-", "").gsub("+", "").gsub("(", "").gsub(")", "").gsub(" ", "") %>");
  console.log("<%= @order.total %>");            
  console.log("<%= @order.ship_address.address1 %>");
  console.log("<%= @order.ship_address.address2 %>");
  console.log("<%= @order.ship_address.city %>");
  console.log("<%= @order.ship_address.state_text %>");
  console.log("<%= @order.ship_address.zipcode %>");
  console.log("<%= @order.ship_address.country.try(:iso) %>");
                

  document.querySelector("input[type=\"submit\"]").style.display = 'none';

  if(window.location.href.includes("/checkout/payment")) {

    paypal.Buttons({
     
    createOrder: function(data, actions) {
      return actions.order.create({
        intent: 'CAPTURE',
          payer: {
            name: {
              given_name: "<%= @order.ship_address.first_name %>",
              surname: "<%= @order.ship_address.last_name %>"
          },
          address: {
            address_line_1: '<%= @order.ship_address.address1 %>',
            address_line_2: '<%= @order.ship_address.address2 %>',
            admin_area_1: '<%= @order.ship_address.state_text %>',
            admin_area_2: '<%= @order.ship_address.city %>',
            postal_code: '<%= @order.ship_address.zipcode %>',
            country_code: '<%= @order.ship_address.country.try(:iso) %>'
          },
          email_address: "<%= @order.email %>",
            phone: {
              phone_type: "MOBILE",
              phone_number: {
              national_number: "<%= @order.ship_address.phone.gsub("-", "").gsub("+", "").gsub("(", "").gsub(")", "").gsub(" ", "") %>"
                }
              }
            },
            purchase_units: [{
              amount: {
                        value: '<%= @order.total %>'
                      },
              shipping:{
                        name:{
                              full_name:'<%= @order.ship_address.full_name %>'
                             },
                        address: {
                              address_line_1: '<%= @order.ship_address.address1 %>',
                              address_line_2: '<%= @order.ship_address.address2 %>',
                              admin_area_1: '<%= @order.ship_address.state_text %>',
                              admin_area_2: '<%= @order.ship_address.city %>',
                              postal_code: '<%= @order.ship_address.zipcode %>',
                              country_code: '<%= @order.ship_address.country.try(:iso) %>'
                          }
                      }
                    }]
       });
     },
     onApprove: function(data, actions) {
       return actions.order.capture().then(function(orderData) {
          var transaction = orderData.purchase_units[0].payments.captures[0];
          document.querySelector("input[type=\"submit\"]").click();

       });
     }
   }).render('#paypal-button-container');
   } 
}
</script>
