<tr>
  <td class="purchase_image">
      <%= link_to spree_storefront_resource_url(line_item.product) do %>
          <%= image_tag("/assets/lagyi_color/#{line_item.product.sku.downcase}/#{line_item.variant.option_values.last.name.gsub(" ","")}.jpg",
            :size=> "100x100",
            :id=>"mail_product_lagyi",
            :alt =>"#{line_item.product&.name}") %>
      <% end %>

  </td>
  <td class="purchase_item">
    <strong>
      <span class="f-fallback">
        <%= link_to raw(line_item.name), spree_storefront_resource_url(line_item.product) %>
      </span>
    </strong>
    <p class="purchase_item--additional" style="font-weight:bold;">
      <%= raw(line_item.variant.options_text) -%>
    </p>
  </td>
  <td class="align-right" width="30%">
    <span class="f-fallback purchase_item_price">
      <%= line_item.quantity %> x <%= line_item.single_money %><br>
      <%= line_item.display_amount %>
    </span>
  </td>
</tr>

