<% is_product_available_in_currency = product_available_in_currency? %>
<% default_variant = default_variant(@variants, @product) %>

<%= form_for :order, html: {
    id: 'add-to-cart-form',
    class: 'add-to-cart-form',
    'data-product-summary': @product_summary.to_json,
    'data-variants': product_variants_matrix(is_product_available_in_currency),
    'data-variant-change-trigger-identifier': variant_change_identifier
  } do |f| %>
  <div id="inside-product-cart-form" data-hook="inside_product_cart_form">
    <% if is_product_available_in_currency %>
      <div id="product-price" class="mb-2 text-center text-md-left add-to-cart-form-price" data-hook="product_price">
        <% if should_display_compare_at_price?(default_variant) %>
          <span class="compare-at-price mr-3"><%= display_compare_at_price(default_variant) %></span>
        <% end %>
        <span class="price selling" content="<%= @product_price.to_d %>">
          <%= display_price(default_variant) %>
        </span>
        <span content="<%= current_currency %>"></span>
      </div>
    <% end %>

    <div class="text-center text-md-left add-to-cart-form-general-availability">
      <%= Spree.t(:availability) %>:
      <% if !is_product_available_in_currency %>
        <%= render 'cart_form_availability_templates', type: 'not-available-in-currency' %>
      <% elsif default_variant.in_stock? %>
        <%= render 'cart_form_availability_templates', type: 'in-stock' %>
      <% elsif default_variant.backorderable? %>
        <%= render 'cart_form_availability_templates', type: 'backorderable' %>
      <% else %>
        <%= render 'cart_form_availability_templates', type: 'out-of-stock' %>
      <% end %>
    </div>

    <% if @product.variants_and_option_values(current_currency).any? %>
      <hr>
      <ul id="product-variants" class="product-variants">
        <% used_variants_options(@variants, @product).each_with_index do |option_type, index| %>
          <li>
            <% if color_option_type_name.present? && color_option_type_name == option_type[:name] %>
              <%= render "color_option_type", option_type: option_type, index: index %>
            <% else %>
              <%= render "option_type", option_type: option_type, index: index %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <% if is_product_available_in_currency && @product.can_supply? %>
      <%= hidden_field_tag "variant_id", default_variant.id %>

      <hr>
      <div>
        <div class="mb-5 mt-4 text-center text-md-left">
          <%= render 'spree/shared/quantity_select', input_name: :quantity %>
        </div>

        <div class="mb-5 mt-4 text-center text-md-left">
          <h6> description</h6>
           <p><%= @product.description.html_safe %></p>
        </div>

        <%= button_tag class: 'btn btn-primary w-100 font-weight-bold add-to-cart-button', id: 'add-to-cart-button', type: :submit, disabled: true do %>
          <%= Spree.t(:add_to_cart) %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>