<h3 class="pt-4 font-weight-bold text-uppercase product-details-subtitle">
   Our Guarantee
</h3>
<div id="product-description-long" class="m-0 text-break product-description" data-hook="description">

   - Our product prices are unbeatable. you won't find anything cheaper!
   We're the only place to get what you're looking for. 
   <br>
   - Quality is important to us - we want to make sure our customers are happy with their purchase.
   <br>
   - We understand that when you order something online, you want it right away.
   That's why we offer fast delivery on all of our products and provide tracking number for every order.
</div>
<h3 class="pt-4 font-weight-bold text-uppercase product-details-subtitle">
   Shipping Information
</h3>
<div id="product-description-long" class="m-0 text-break product-description" data-hook="description">
   During checkout,
   we'll provide an estimated delivery date.
   <br><br>
   Fast Delivery cost <b> 25 USD </b>
   we will sent within 7 days.
   <br>
   Standard Delivery is <b><u>FREE</u></b> and
   we will sent within 12 days.
   <br>
</div>
