<% if @taxon.present? %> 
    <%= render 'spree/products/custom_filter_desktop', permitted_params: permitted_params %>
<% else %>

  <% cache filters_cache_key('desktop') do %>
    <div id="plp-filters-accordion" class="d-none d-lg-block col-lg-3 pr-5 position-sticky h-100 plp-filters" data-hook="taxon_sidebar_navigation">
      <%= clear_all_filters_link(permitted_params) if product_filters_present?(permitted_params) %>

      <div class="plp-filters-scroller">
        <% available_option_types.each do |option_type| %>
          <div class="w-100 card plp-filters-card">
            <% ot_filter_param = option_type.filter_param %>
            <% option_type_name = ot_filter_param.titleize %>
            <% collapsed = params[ot_filter_param].blank? %>

            <button class="card-header <%= 'collapsed' if collapsed %> px-1 plp-filters-card-header" id="filters<%= option_type_name %>" data-toggle="collapse" data-target="#collapseFilter<%= option_type_name %>" aria-expanded="<%= !collapsed %>" aria-controls="collapseFilter<%= option_type_name %>" role="heading" aria-level="2">
              <%= option_type.presentation %>
              <%= icon(name: 'plus',
                      classes: 'mt-1 float-right arrow plp-filters-card-header-arrow--plus',
                      width: 16,
                      height: 16) %>
              <%= icon(name: 'minus',
                      classes: 'mt-1 float-right arrow plp-filters-card-header-arrow--minus',
                      width: 16,
                      height: 16) %>
            </button>
            <div id="collapseFilter<%= option_type_name %>" class="collapse <%= 'show' unless collapsed %>" aria-labelledby="filters<%= option_type_name %>">
              <div class="card-body px-0 pt-1">
                <%= render 'spree/shared/option_values',
                  option_type: option_type,
                  permitted_params: permitted_params %>
              </div>
            </div>
          </div>
        <% end %>
        <% available_properties.each do |property| %>
          <% if property.uniq_values.present? %>
            <div class="w-100 card plp-filters-card">
              <% property_name = property.name %>
              <% collapsed = params.dig(:properties, property.filter_param).blank? %>
              <button class="card-header <%= 'collapsed' if collapsed %> px-1 plp-filters-card-header" id="filters<%= property_name %>" data-toggle="collapse" data-target="#collapseFilter<%= property_name %>" aria-expanded="<%= !collapsed %>" aria-controls="collapseFilter<%= property_name %>" role="heading" aria-level="2">
                <%= property.presentation.titleize %>
                <%= icon(name: 'plus',
                        classes: 'mt-1 float-right arrow plp-filters-card-header-arrow--plus',
                        width: 16,
                        height: 16) %>
                <%= icon(name: 'minus',
                        classes: 'mt-1 float-right arrow plp-filters-card-header-arrow--minus',
                        width: 16,
                        height: 16) %>
              </button>
              <div id="collapseFilter<%= property_name %>" class="collapse <%= 'show' unless collapsed %>" aria-labelledby="filters<%= property_name %>">
                <div class="card-body px-0 pt-1">
                  <%= render 'spree/shared/properties',
                    params_property_name: params[property_name],
                    property: property,
                    permitted_params: permitted_params,
                    property_name: property_name
                  %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        <% price_collapsed = params[:price].blank? %>
        <div class="w-100 card plp-filters-card">
          <button class="card-header text-capitalize <%= 'collapsed' if price_collapsed %> px-1 plp-filters-card-header" id="filtersPrice" data-toggle="collapse" data-target="#collapseFilterPrice" aria-expanded="<% !price_collapsed %>" aria-controls="collapseFilterPrice" role="heading" aria-level="2">
            <%= Spree.t('plp.price') %>
            <%= icon(name: 'plus',
                    classes: 'mt-1 float-right arrow plp-filters-card-header-arrow--plus',
                    width: 16,
                    height: 16) %>
            <%= icon(name: 'minus',
                    classes: 'mt-1 float-right arrow plp-filters-card-header-arrow--minus',
                    width: 16,
                    height: 16) %>
          </button>
          <div id="collapseFilterPrice" class="collapse <%= 'show' unless price_collapsed %>" aria-labelledby="filtersPrice">
            <div class="card-body px-0 pt-1">
              <% price_filters.each do |price_range| %>
                <%= price_filter_link(price_range, permitted_params) %>
              <% end %>

              <div id="filterPriceRangeDesktop" class="m-1">
                <div class="d-inline-flex mb-2">
                  <%= min_price_filter_input class: 'w-50 p-2 mr-1' %>
                  <%= max_price_filter_input class: 'w-50 p-2' %>
                </div>

                <%= link_to Spree.t('plp.done'), permitted_params, class: 'btn btn-primary spree-btn w-100', data: { params: permitted_params } %>
              </div>
            </div>
          </div>
        </div>
        <% additional_filters_partials.each do |partial| %>
          <%= render "spree/products/filters/#{partial}", permitted_params: permitted_params %>
        <% end %>
      </div>
    </div>
  <% end %>

<% end %>

