<% if @taxon.present? %> 
    <%= render 'spree/products/custom_filter_mobile', permitted_params: permitted_params %>
<% else %>

<% is_visible = params[:menu_open] ? 'block' : 'none' %>

<div id="filter-by-overlay" class="d-lg-none plp-overlay" style="display: <%= is_visible %>;">
  <% cache filters_cache_key('mobile') do %>
    <div class="plp-scroll">
      <div class="container">
        <div class="plp-overlay-header">
          <%= Spree.t('plp.filter_by') %>
          <%= inline_svg_tag 'close.svg', id: 'filter-by-overlay-hide-button' %>
        </div>
      </div>
      <div id="filters-accordion">
        <% available_option_types.each do |option_type| %>
          <% option_type_name = option_type.filter_param %>
          <% ot_downcase_name = option_type_name.downcase %>

          <div class="card plp-overlay-card">
            <div class="card-header text-uppercase <%= 'collapsed' if params[ot_downcase_name].blank? %> plp-overlay-card-header" data-toggle="collapse" id="filtersMobile<%= option_type_name %>" data-target="#collapseFilterMobile<%= option_type_name %>" aria-expanded="true" aria-controls="collapseFilterMobile<%= option_type_name %>" role="heading" aria-level="3">
              <%= option_type_name %>
              <%= icon(name: 'arrow-right',
                      classes: 'spree-icon-arrow spree-icon-arrow-right mt-1 float-right arrow plp-overlay-card-header-arrow',
                      width: 16,
                      height: 16) %>
            </div>
            <div id="collapseFilterMobile<%= option_type_name %>" class="collapse <%= 'show' unless params[ot_downcase_name].blank? %>" aria-labelledby="filtersMobile<%= option_type_name %>" data-parent="#filters-accordion">
              <div class="card-body pt-1">
                <%= render 'spree/shared/option_values', params_ot_downcase_name: params[ot_downcase_name], option_type: option_type, permitted_params: permitted_params, ot_downcase_name: ot_downcase_name %>
              </div>
            </div>
          </div>
        <% end %>
        <% available_properties.each do |property| %>
          <% if property.uniq_values.present? %>
            <% property_name = property.name %>
            <% collapsed = params.dig(:properties, property.filter_param).blank? %>
            <div class="card plp-overlay-card">
              <div class="card-header text-uppercase <%= 'collapsed' if collapsed %> plp-overlay-card-header" data-toggle="collapse" id="filtersMobile<%= property_name %>" data-target="#collapseFilterMobile<%= property_name %>" aria-expanded="true" aria-controls="collapseFilterMobile<%= property_name %>" role="heading" aria-level="3">
                <%= property_name %>
                <%= icon(name: 'arrow-right',
                         classes: 'spree-icon-arrow spree-icon-arrow-right mt-1 float-right arrow plp-overlay-card-header-arrow',
                         width: 16,
                         height: 16) %>
              </div>
              <div id="collapseFilterMobile<%= property_name %>" class="collapse <%= 'show' unless collapsed %>" aria-labelledby="filtersMobile<%= property_name %>" data-parent="#filters-accordion">
                <div class="card-body pt-1">
                  <%= render 'spree/shared/properties',
                             params_property_name: params[property_name],
                             property: property,
                             permitted_params: permitted_params,
                             property_name: property_name
                  %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

        <div class="card plp-overlay-card">
          <div class="card-header text-uppercase <%= 'collapsed' if params[:price].blank? %> plp-overlay-card-header" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour" role="heading" aria-level="3">
            <%= Spree.t('plp.price') %>
            <%= icon(name: 'arrow-right',
                    classes: 'spree-icon-arrow spree-icon-arrow-right mt-1 float-right arrow plp-overlay-card-header-arrow',
                    width: 16,
                    height: 16) %>
          </div>
          <div id="collapseFour" class="collapse <%= 'show' unless params[:price].blank? %>" aria-labelledby="headingFour" data-parent="#filters-accordion">
            <div class="card-body pt-1">
              <% price_filters.each do |price_range| %>
                <%= price_filter_link(price_range, permitted_params) %>
              <% end %>

              <div id="filterPriceRangeMobile" class="m-1">
                <div class="d-inline-flex">
                  <%= min_price_filter_input class: 'w-50 p-2 mr-1' %>
                  <%= max_price_filter_input class: 'w-50 p-2' %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <% additional_filters_partials.each do |partial| %>
          <%= render "spree/products/filters/mobile/#{partial}", permitted_params: permitted_params %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="container position-absolute text-center plp-overlay-buttons pt-3">
    <%= clear_all_filters_link(permitted_params) %>
    <%= link_to Spree.t('plp.done'), permitted_params, id: 'filterProductsButtonMobile', class: 'btn btn-primary spree-btn w-100 done-btn', data: { params: permitted_params } %>
  </div>
</div>

<% end %>