<% url = spree.product_path(product, taxon_id: taxon.try(:id)) %>
<% price = product.price_in(current_currency).amount %>

<div id="product_<%= product.id %>" class="d-flex w-100 col-12 col-sm-6 col-lg-4 col-xl-3 product-list-item mb-4" data-hook="products_list_item">
  <div class="card w-100">
    <% cache(taxon.present? ? [I18n.locale, current_currency, taxon&.id, product] : cache_key_for_product(product)) do %>
      <div class="card-body text-center product-body">
        <%= link_to url, class: 'd-block text-center' do %>
          <%= small_image(product, class: "d-block mx-auto") %>
          <%= content_tag(:span, truncate(product.name, length: 50), class: 'info mt-3 d-block', title: product.name) %>
        <% end %>
      </div>
      <div class="card-footer text-center">
        <span class="price selling lead" content="<%= price.nil? ? 0 : price.to_d %>">
          <%= display_price(product) %>
        </span>
        <span content="<%= current_currency %>"></span>
      </div>
    <% end %>
  </div>
</div>
