<% default_variant = default_variant(@variants, @product) %>
<h3 class="pt-4 font-weight-bold text-uppercase product-details-subtitle">
   Bulk Order
</h3>
<div id="product-description-long" class="m-0 text-break product-description" data-hook="description">

   - 3 Items will contain in single bulk order!<br>
   You will get the all 3 item with total price <u><%= display_price(default_variant) %></u>
   <br>
   - You may not choose color.    <br>
   <b>(it will include as shown in photo)</b>.
   <br>
   - But You can choose size.
</div>
<h3 class="pt-4 font-weight-bold text-uppercase product-details-subtitle">
   Shipping Information
</h3>
<div id="product-description-long" class="m-0 text-break product-description" data-hook="description">
   During checkout,
   we'll provide an estimated delivery date.
   <br><br>
   Fast Delivery <b> 25 USD </b>
   we will sent within 7 days.
   <br>
   Standard Delivery is <b><u>FREE</u></b> and
   we will sent within 12 days.
   <br>
</div>


