<% if product_relation_types.any? %>
  <div id="related-products">
    <% product_relation_types.each do |relation_type| %>
      <% products = product_relations_by_type(relation_type) %>

      <% if products.any? %>
        <div class="product-details-related" id="product-details-related-<%= relation_type.id %>">
           <h3 class="pt-4 font-weight-bold text-uppercase product-details-subtitle">
             <%= relation_type.name %>
          </h3><hr>
          <%= render 'spree/shared/carousel_4_products', id: "related-products-carousel-#{relation_type.id}", products: products %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
