<% @body_id = 'product-details' %>

<div class="container-fluid h-100 header-spree-fluid">
  <%= spree_breadcrumbs(@taxon, '', @product) %>
</div>

<% cache cache_key_for_product do %>
  <div class="container-fluid pt-4 product-details">
   <div class="row" data-hook="product_show">
      <div class="col-12 col-md-5 col-lg-5" data-hook="product_left_part">
         <%= render partial: 'gallery' %>
      </div>
      <div class="col-12 col-md-7" data-hook="product_right_part" id="pro">
         <div id="product-description" data-hook="product_right_part_wrap">
            <h1 class="mt-3 mt-md-0 text-center text-md-left product-details-title">
               <%= @product.name %>   
            </h1>
            <div id="cart-form" data-hook="cart_form">
               <%= render 'cart_form', variant_change_identifier: 'productCarousel' %>
            </div>
         </div>
      </div>
   </div>
    
  <div class="container-fluid">
    <%= render 'spree/products/related/related_products', products: @products %>
 </div>

  <%= products_structured_data([@product]) %>
  <%= render 'spree/shared/product_added_modal' %>
<% end %>
