<br><br>
<div class="container-fluid h-100 header-spree-fluid">
   <div class="row">
      <div class="col-12">
           <h3 class="pt-4 font-weight-bold text-uppercase product-details-subtitle">
             RELATED PRODUCTS<hr>
           </h3>
      </div>
   </div>
</div>

<div class="container-fluid h-100 header-spree-fluid">
   <%= render 'spree/shared/carousel_4_products', id: @taxon.permalink, products: @products %>
</div>