<% cache [base_cache_key, taxon, 'header'] do %>
  <div class="py-md-3 text-uppercase taxon-title">
    <div class="col text-center">
      <h3><%= @taxon.name.upcase %></h3>
    </div>

    <div class="col text-center" style="font-size:16px;">
      <p><small>
        <% if taxon_wysiwyg_editor_enabled? %>
          <%= raw @taxon.description %>
        <% else %>
            <%= @taxon.description %>
        <% end %>
      </small></p>
    </div>
  </div>
<% end %>
<div class="d-none d-lg-block">
  <div class="container">
    <div class="row text-center">

      <div class="col-3">
         <%=image_tag 'icons/quality_inspection.png', :class=>"img-fluid", :id=>"img-icon" %>
        <small> QUALITY INSPECTION </small>
      </div>

      <div class="col-3">
        <%=image_tag 'icons/trend_design.png', :class=>"img-fluid", :id=>"img-icon" %>
        <small> TREND DESIGN </small>
      </div>

      <div class="col-3">
        <%=image_tag 'icons/fast_delivery.png', :class=>"img-fluid", :id=>"img-icon" %>
        <small> FASTER  DELIVERY </small>
      </div>

      <div class="col-3">
        <%=image_tag 'icons/cheap_price.png', :class=>"img-fluid", :id=>"img-icon" %>
        <small> CHEAP PRICE </small>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  #img-icon {
    height: 60px;
  }
</style>