<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <span>
          <%= link_to Spree.t(:home), spree.root_path %>
        </span>
      </li>
      <% if @taxon %>
        <% @taxon.ancestors.where.not(parent_id: nil).each do |ancestor| %>
          <li class="breadcrumb-item">
            <%= ancestor.name %>
          </li>
        <% end %>
        <li class="breadcrumb-item">
          <%= @taxon.name %>
        </li>
      <% else %>
        <li class="breadcrumb-item">
          <%= current_page_name %>
        </li>
      <% end %>
    </ol>
  </nav>
</div>

<div class="taxon">
  <div class="container-fluid h-100 header-spree-fluid">
    <%= render 'header', taxon: @taxon %>
  </div>
  <div data-hook="taxon_products">
      <%= render template: 'spree/products/index', colors: @colors, sizes: @sizes %>
  </div>
</div>

<div class="d-lg-none">
  <div class="container">
    <div class="row text-center">

      <div class="col-3">
         <%=image_tag 'icons/quality_inspection.png', :class=>"img-fluid", :id=>"img-icon" %>
        <small>QUALITY INSPECTION</small>
      </div>

      <div class="col-3">
        <%=image_tag 'icons/trend_design.png', :class=>"img-fluid", :id=>"img-icon" %>
        <small>TREND DESIGN</small>
      </div>

      <div class="col-3">
        <%=image_tag 'icons/fast_delivery.png', :class=>"img-fluid", :id=>"img-icon" %>
        <small>FASTER DELIVERY </small>
      </div>

      <div class="col-3">
        <%=image_tag 'icons/cheap_price.png', :class=>"img-fluid", :id=>"img-icon" %>
        <small>CHEAP PRICE</small>
      </div>
    </div>
  </div><br>
</div>
