<% if can? :admin, Spree::ProductImport %>
  <ul class="nav nav-sidebar">
    <%= tab Spree::ProductImport, url: spree.admin_product_imports_url, label: "Product Imports" %>
    <%= tab Spree::ProductImport, url: spree.admin_product_import_details_url, label: "Imports Details" %>
  </ul>
<% end %>


