<%= render partial: 'spree/shared/error_messages', locals: { target: @contact } %>

<div class="contact-us">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-lg-4 pt-lg-2 pb-lg-3 text-center text-lg-left">
        <h1 class="px-3 px-lg-0 pt-lg-1 my-5 contact-us-header">
          Contact us
        </h1>
      </div>
      <div class="col-12 col-lg-6 text-center text-lg-left">
        <div class="pt-2 pb-lg-1 mb-3 contact-us-subheader">
          Address
        </div>
        <div>No.3B Bayint Naung Street</div>
        <div class="mb-4 pb-2 pb-lg-0">Thuwunna 11071, Yangon, Burma (Myanmar).</div>
        <div><%= Spree.t('spree_contact_us.call_us') %>: <span class="green-text font-weight-bold">+95 9 795 545748</span></div>
        <div class="mb-4 pb-2 pb-lg-0"><%= Spree.t('spree_contact_us.email') %>: <span class="green-text font-weight-bold">customercare@loveubae.com</span></div>
         <div>
        Review us on <br>
        <%= link_to image_tag("trustpilot.png"), "https://www.trustpilot.com/review/loveubae.com",  :target => "_blank"%></div>


      </div>
      <div class="col-12 col-lg-6 mt-5 mt-lg-0">
        <div class="mt-4 mt-lg-2 mb-1 mb-lg-2 contact-us-subheader text-center text-lg-left">
          Get in touch? <span> We will reply within 6 hours.</span>
        </div>

        <%= form_for @contact, url: contact_us_path, html: { novalidate: '' } do |f| %>
          <% if SpreeContactUs.require_name %>
            <%= f.text_field :name, class: 'required col-12 mt-3 mb-1 mb-lg-2', placeholder: true %>
          <% end %>
          <%= f.email_field :email, class: 'required col-12 mt-3 mb-1 mb-lg-2', placeholder: true %>
          <% if SpreeContactUs.require_subject %>
            <%= f.text_field :subject, class: 'required col-12 mt-3 mb-1 mb-lg-2' %>
          <% end %>
            <%= f.text_area :message, class: 'required col-12 mt-3 mb-3', rows: 4, placeholder: Spree.t('spree_contact_us.message_placeholder') %>

            <div class="text-center text-lg-left mt-lg-1 mb-4">
              <button class="g-recaptcha" 
                      data-sitekey="6LcORtckAAAAACe8byUu59wiQA-V2Yst8GB10qNH" 
                      data-callback='onSubmit' 
                      data-action='submit'>Submit
              </button>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


 <script src="https://www.google.com/recaptcha/api.js"></script>

 <script>
   function onSubmit(token) {
     document.getElementById("new_contact_us_contact").submit();
   }
 </script>


 