<div class="container">
      <div class="row d-xl-flex justify-content-xl-around pb-xl-5">
        <div class="d-flex d-xl-block flex-xl-grow-0 col-xl-4">
          <figure class="logo mx-auto mx-xl-0 pt-xl-2 pb-xl-1">
            <a aria-label="LoveYouBae" href="/"><br>
                <%=image_tag 'bae_small.png', :alt=>"bae_logo" %>
            </a>
          </figure>
            <div class="d-none d-xl-block pt-xl-2 footer-spree-info">
              LoveYouBae is an international B2C fast fashion brand. 
              The company mainly focuses on men's wear,
              but it also offers men and women's apparel,
              accessories, shoes, bags and other fashion items. 
            </div>
        </div>
        <div class="d-block flex-nowrap py-2 order-xl-last col-xl-3 offset-xl-1">
            <div class="d-none d-xl-block pt-4 pb-3 pl-2 footer-spree-label">
              Other Channels
            </div>
          <div class="d-flex d-xl-block justify-content-center mx-auto">
             <div class="d-flex">
              <a target="blank" rel="nofollow noopener" aria-label="etsy" href="https://web.facebook.com/loveyoubaeclothing" style=" text-decoration: none;">
                &nbsp; <%=image_tag 'facebook.png', :alt=>"etsy" %> &nbsp;
                 <span style="font-size:18px;color: black;">LoveYouBae Clothing</span>
              </a> 
            </div>
          </div>
        </div>
        <div class="py-xl-2 col-xl-3 offset-xl-1">
          <div class="d-none d-xl-block pt-4 pb-3 footer-spree-label">
            Contact us
          </div>
          <div class="d-flex flex-column align-items-center align-items-xl-start pb-3 flex-grow-2 footer-spree-contact-note">
            <div>
             
              <br>
                Address: No.3B, BayintNaung street, Thuwunna,   <br>
                11071,Yangon,Myanmar.<br>
                Email: customercare@loveubae.com
            </div>
          </div>
        </div>
      </div>
    </div>
