<!-- You can override this template to design your own header. -->
<tr>
  <td class="email-masthead">
    <%= link_to current_store.url, class: 'template-label' do %>
      <% if logo_path.present? %>
        <%= image_tag("bae_small.png") %>
      <% else %>
        <%= logo %>
      <% end %>
    <% end %>
  </td>
</tr>