<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel"  style="z-index: 1;">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <%=image_tag 'home_cover1.jpg', :class=>"d-block w-100", :alt=>"Responsive Carosel image" %>
    </div>
  </div>
  <div class="carousel-caption d-md-block">
      <div class="d-lg-none" style="position: relative;top:3vw;">
          <h2 style="color:white;font-size: 5vw;font-weight: bold;"> NEW ARRIVALS</h2>
          <div class="col text-center">
            <a href="/t/shop-all/sweat_collection" class="btn btn-dark" style="font-size: 2vw;">SHOP NOW</a>
          </div>
      </div>
      <div class="d-none d-lg-block" style="position: relative;top:-30px;">
          <div class="col text-center">
             <h2 class="display-3" style="color:white;font-weight: bold;">NEW ARRIVALS</h2>
             <a href="/t/shop-all/sweat_collection" class="btn btn-dark">SHOP NOW</a>
          </div>
      </div>
  </div>
</div><br>




 <style type="text/css">
   
   /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #button_home {
       background-color: white;
       color: black;
       font-size:40%;
        position: relative;
       top: 20px;
 
  }
   #text_new{
       font-size: 55%;
  }
   #text_aut{
      font-size: 30px;
  }
   #text_col{
       font-size: 55%;
  }
  #mobi_hometext {
    position: relative;
    top: 50px;
  }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #button_home {
       background-color: white;
       color: black;
       font-size:16px;
  }
   #text_new{
       font-size: 20px;
  }
   #text_aut{
       font-size: 28px;
  }
   #text_col{
       font-size: 16px;
  }
#mobi_hometext {
    position: relative;
    top: 35px;
  }


}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #button_home {
       background-color: white;
       color: black;
       font-size:36px;
  }
   #text_new{
       font-size: 50px;
  }
   #text_aut{
       font-size: 90px;
  }
   #text_col{
       font-size: 40px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #button_home {
       background-color: white;
       color: black;
       font-size:26px;
  }
   #text_new{
       font-size: 60px;
  }
   #text_aut{
       font-size: 100px;
  }
   #text_col{
       font-size: 40px;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #button_home {
       background-color: white;
       color: black;
       font-size:36px;
  }
   #text_new{
       font-size: 90px;
  }
   #text_aut{
       font-size: 130px;
  }
   #text_col{
       font-size: 80px;
  }

}

 </style>

