<div id="spree-header">
  <header id="header" class="d-flex align-items-center header-spree border-bottom">
    <div class="container" role="navigation" aria-label="<%= Spree.t('checkout_page.main_navigation') %>">
      <div class="row">

        <div class="col d-flex align-items-center truncate pr-0">
          <%= link_to spree.cart_path, class: "text-uppercase truncate checkout-header-link-text", method: :get do %>
            <%= icon(name: 'arrow-right',
                     classes: 'spree-icon-arrow spree-icon-arrow-left',
                     width: 14,
                     height: 14) %>
            <%= Spree.t('checkout_page.back_to_cart') %>
          <% end %>
        </div>

        <div class="col-auto d-flex align-items-center justify-content-end justify-content-md-center">
          <figure class="logo header-spree-fluid-logo m-0 p-0">
             <%= image_tag("bae_logo.png") %>
          </figure>
        </div>

        <div class="col-0 col-md">
          <!-- spacer -->
        </div>

      </div>
    </div>
  </header>
</div>
