      <div class="dropdown navbar-right-dropdown">
        <button type="button" data-toggle="dropdown" class="navbar-right-dropdown-toggle" aria-label="<%= Spree.t(:internationalization) %>">
          <%= icon(name: 'global',
                classes: 'd-none d-xl-inline-block',
                width: 40,
                height: 30) %>
        </button>

        <div class="dropdown-menu">
          <% if cookies["currency"] != 'GBP' %>
            <a class="dropdown-item" id="currency_usd">
              <span class="currency_sp_usd"><b>USD</b></span>
            </a>
            <small>
              <a class="dropdown-item" id="currency_gbp">
                <span class="currency_sp_gbp">GBP</span>
              </a>
            </small>
          <% else %>
            <a class="dropdown-item" id="currency_gbp">
              <span class="currency_sp_gbp"><b>GBP</b></span>
            </a>
             <small>
              <a class="dropdown-item" id="currency_usd">
                <span class="currency_sp_usd">USD</span>
              </a>
            </small>
          <% end %>
        </div>
      </div>
   
  
