<div id="footer_div">
   <div class="container-fluid h-100 header-spree-fluid" >
      <div class="row">
         <div class="col-sm" >
            <ul class="list-group list-group-flush" >
               <li class="list-group-item">
                  <h5>SERVICES </h5>
               </li>
            </ul>
            <ul class="list-group list-group-flush" id="fonter_ul">
               <li class="list-group-item">
                  <a href="/pages/privacy-policy" >Privacy Policy </a>
               </li>
               <li class="list-group-item">
                  <a href="/pages/refund-policy" >Refund Policy </a>
               </li>
               <li class="list-group-item">
                  <a href="/pages/return" >Returns items </a>
               </li>
            </ul>
         </div>
         <div class="col-sm">
            <ul class="list-group list-group-flush" >
               <li class="list-group-item">
                  <h5>INFORMATIONS</h5>
               </li>
            </ul>
            <ul class="list-group list-group-flush" id="fonter_ul">
               <li class="list-group-item"><a href="/pages/terms-and-conditions" >Terms and conditions </a></li>
               <li class="list-group-item"><a href="/pages/shipping-and-delivery" >Shipping & Delivery</a> </li>
               <li class="list-group-item"><a href="/pages/faq" >Frequently Ask Questions </a></li>
            </ul>
         </div>
         <div class="col-sm">
            <ul class="list-group list-group-flush">
               <li class="list-group-item">
                  <h5>ABOUT US  </h5>
               </li>
            </ul>
            <ul class="list-group list-group-flush" id="fonter_ul">
               <li class="list-group-item"><a href="/pages/about-us" >Who We Are </a></li>
               <li class="list-group-item"><a href="/contact-us" >Contact Us</a></li>
                <li class="list-group-item">
                    <a href="https://forms.gle/mNk4j8Rviy1GHyHG7" >
                        Become a <span style="font-weight:bold;color:white;background:black;"> &nbsp;retailer? &nbsp;</span>
                    </a>  
               </li>
            </ul>
         </div>

         <div class="col-sm">

            <ul class="list-group list-group-flush" >
               <li class="list-group-item">
                  <h5>CONTACT US </h5>
               </li>
            </ul>
            <ul class="list-group list-group-flush" id="fonter_ul">
               <li class="list-group-item">
                  <a href="mailto:customercare@loveubae.com">customercare@loveubae.com</a>
               </li>
            </ul>

            <ul class="list-group list-group-flush" >
               <li class="list-group-item">
                  <h6> FOLLOW US </h6>
               </li>
            </ul>
            <ul class="list-group list-group-flush" id="fonter_ul">
                <li class="list-group-item" id="social">
                  <a href="https://web.facebook.com/loveubaeclothing">
                        <%= image_tag("icons/fb.png",alt: "facebook_social",style:"height:60px;") %>    
                  </a>
                    <a href="https://twitter.com/loveubaefashion">
                        <%= image_tag("icons/twitter.png",alt: "twitter.png_social",style:"height:60px;") %>    
                  </a>
                    <a href="https://www.pinterest.com/loveubaeclothing/">
                        <%= image_tag("icons/pintrest.png",alt: "pinterest_social",style:"height:60px;") %>    
                  </a>
               </li>
              
              

            </ul>
         </div>
      </div>
   </div>
</div>

<div class="container-fluid h-100 header-spree-fluid" style="margin-top: 10px;">


    <h6 id="copyright">
        Copyright © <%= Time.zone.now.year %>
        <%= image_tag("bae_small.png", 
            alt: "menu_icon",
            title:"LoveUbae",
            id:"img_bae_small") %>
    </h6>

        <%= image_tag("payment.png", 
            alt: "Buy now with PayPal",
            title:"LoveUbae_payment",
            id:"img_payment_small") %>    
    </div>
 

<div class="modal fade" id="cookieModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="d-lg-none">
      <!-- for mobile -->
      <div class="modal-dialog" role="document" id="cookieModalMobiledialog">
         <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Cookies & Privacy Policy</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <small>This website uses cookies to personalize content and analyse traffic in order to offer you a better experience.</small>
            </div>
            <div class="modal-footer">
              <a href="#a" class="btn btn-success btn-sm" data-dismiss="modal" id="myModalClose">Accept</a>
               <a href="/pages/privacy-policy" class="btn btn-secondary btn-sm" >Learn More</a>
            </div>
         </div>
      </div>
   </div>

   <div class="d-none d-lg-block">
   <!-- for desktop -->
      <div class="modal-dialog" role="document" id="cookieModalDesktopdialog">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="exampleModalLabel">Cookies & Privacy Policy</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
             <small>This website uses cookies to personalize content and analyse traffic in order to offer you a better experience.</small>
         </div>
         <div class="modal-footer">
           <a href="#a" class="btn btn-success btn-sm" data-dismiss="modal" id="myModalClose">Accept</a>
            <a href="/pages/privacy-policy" class="btn btn-secondary btn-sm" >Learn More</a>
         </div>
       </div>
     </div>
   </div>
</div>

<!-- Messenger Chat Plugin Code -->
<div id="fb-root"></div>

<!-- Your Chat Plugin code -->
<div id="fb-customer-chat" class="fb-customerchat"></div>


    

