<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" style="position:relative;top: 15px;">
    	<p style="text-align:center;font-size: 10px;">
        	<span style="font-weight: bold;">GET 3USD OFF ON </span> YOUR FIRST ORDER with PROMOCODE 
        	<span style="font-weight: bold;color: red;">NEWBIE</span>
    	</p>
    </div>
    <div class="carousel-item" style="position:relative;top: 15px;">
    	<p style="text-align:center;font-size: 10px;">
       		<span style="font-weight: bold;color: red;"> FREE SHIPPING  </span> to UNITED STATES
   		</p>
    </div>
     <div class="carousel-item" style="position:relative;top: 15px;">
    	<p style="text-align:center;font-size: 10px;">
       		<span style="font-weight: bold;">DON'T MISS OUT!</span>
   		</p>
    </div>
  </div>

</div>