<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
<%== meta_robots %>
<meta name="facebook-domain-verification" content="6ccapa92uk8v2ekcmjw1pifxy10mdk" />
<meta property="fb:app_id" content="1253856941834758" />
<meta name="title" content="<%= title %>">
<meta name="description" content="<%= @meta_description %>"/>
<%= canonical_tag(current_store.url) %>
<%= favicon_link_tag asset_path('baefav.ico') %>
<%= stylesheet_link_tag 'spree/frontend/all', media: 'screen', 'data-turbolinks-track': 'reload' %>
<%= csrf_meta_tags %>
<%= render 'spree/shared/paths' %>
<%= render 'spree/shared/locale_and_currency' %>
<%= javascript_include_tag 'spree/frontend/all', defer: true, 'data-turbolinks-track': 'reload' %>
<script src="https://www.paypal.com/sdk/js?client-id=<%= @client_id %>&currency=<%= current_currency %>&disable-funding=<%= @disable_payment_options %>"></script>
<br>
<%= yield :head %>


