<%# leaving #spree-header div for legacy support  %>
<% cache spree_menu_cache_key('header') do %>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="height:30px;background: red;width: 100%;position: fixed;
    top: 0px;
    left: 0;
    z-index: 999;
    background-color:  #f5f5f0;">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <p style="text-align: center;"><small><strong>Free Shipping </strong>to First-Time Customers Only</small></p>
    </div>
    <div class="carousel-item">
       <p style="text-align: center;"><small>Use Code <strong> OFF5 </strong>for 5% OFF to Any Order </small></p>
    </div>
  </div>
</div>

  <div id="spree-header">
    <header id="header" class="d-flex align-items-center header-spree border-bottom" style="position: fixed;top:30px;">
      <div class="container-fluid h-100 header-spree-fluid">
        <div class="d-flex flex-nowrap align-items-center h-100 px-2">
          <div class="d-xl-none flex-grow-1 header-spree-fluid-mobile-menu-toggler">
            <button class="navbar-toggler border-0 px-0 d-flex" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-label="<%= Spree.t('nav_bar.show_menu') %>">
              <%= icon(name: 'burger',
                      width: 18.5,
                      height: 16) %>
            </button>
          </div>
          <figure class="logo flex-grow-0 flex-xl-grow-1 order-xl-0 header-spree-fluid-logo m-0">
            <%= link_to root_path do %>
               <%= image_tag "bae_logo.png" %>
            <% end %>
          </figure>
          <div id="main-nav-bar" class="flex-grow-0 d-none d-xl-block h-100 header-spree-fluid-primary-navigation">
            <%= render partial: 'spree/shared/main_nav_bar' %>
          </div>
          <div id="top-nav-bar" class="flex-grow-1 header-spree-fluid-secondary-navigation">
            <%= render partial: 'spree/shared/nav_bar' %>
          </div>
          <%= render partial: 'spree/shared/mobile_navigation' %>
        </div>
      </div>
    </header>
  </div>
<% end %>