<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%=image_tag 'tshirts_cover.png', :class=>"d-block w-100", :alt=>"Responsive Carosel image" %>
    </div>
  </div>
</div>


