<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel"  style="z-index: 1;">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%=image_tag 'hoodies_cover.png', :class=>"d-block w-100", :alt=>"Responsive Carosel image" %>
    </div>
    <div class="carousel-caption d-md-block">


      <div class="d-lg-none" style="position: relative;top:8vw;">
          <h2 style="color:black;font-size: 7vw;">HOODIES <br> COLLECTIONS</h2>
          <div class="col text-center">
            <a href="/t/shop-all/shirts" class="btn btn-dark" style="font-size: 4vw;">SHOP NOW</a>
          </div>
      </div>


      <div class="d-none d-lg-block">
          <div class="col text-center">
             <h1 class="display-1" style="color:black;">HOODIES FOR WINTER</h1>
             <a href="/t/shop-all/hoodies-and-jackets" class="btn btn-dark">SHOP NOW</a>
          </div>
      </div>
    </div>
  </div>
</div>


