                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <%=image_tag 'tshirts_cover.jpg', :class=>"d-block w-100", :alt=>"Responsive Carosel image" %>
                    </div>
                    <div class="carousel-item">
                      <%=image_tag 't2.jpg', :class=>"d-block w-100", :alt=>"Responsive Carosel image" %>
                    </div>
                    <div class="carousel-item">
                       <%=image_tag 'tshirts_cover.jpg', :class=>"d-block w-100", :alt=>"Responsive Carosel image" %>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </button>
                </div>