<div class="container">
<div class="row">
  <div class="col-sm-6">
       <div class="mycontainer">
                <%=image_tag 'sweater.jpg', :class=>"img-fluid", :alt=>"Responsive image" %>
                <a href="/t/categories/sweater" class="btn">Price Start From <span style="color:white;background: black;">&nbsp;25 USD&nbsp;</span></a>
        </div>

  </div>

<div class="col-sm-6 text-center" style="margin:auto;"> 
         <h1> FREE <span style="color:white;background: black;"> &nbsp;SHIPPING&nbsp; </span> </h1>
            <h2> US - UK - AU - CA </h2>
            <p> <u>NO MINIMUM PURCHASE </u>   </p>
            <h4> Between   <%= Time.now.strftime("%b%d") %> to 
               <span style="color:white;background: black;">&nbsp;<%= (Time.now + 2.days).strftime("%b%d") %>&nbsp;</span>
            </h4> 

 </div>
</div>
</div>