<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel"  style="z-index: 1;">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%=image_tag 'shirts_cover.png', :class=>"d-block w-100", :alt=>"Responsive Carosel image" %>
    </div>
    <div class="carousel-caption d-md-block">


      <div class="d-lg-none" style="position: relative;top:8vw;">
          <h2 style="color:black;font-size: 7vw;">X-MAS GIFT SHIRTS</h2>
          <div class="col text-center">
            <a href="/t/shop-all/shirts" class="btn btn-dark" style="font-size: 3vw;">SHOP NOW</a>
          </div>
      </div>

      <div class="d-none d-lg-block">
          <div class="col text-center">
             <h1 class="display-2" style="color:black;">
             CHRISTMAS GIFT SHIRTS</h1>
            <a href="/t/shop-all/shirts" class="btn btn-dark">SHOP NOW</a>
          </div>
      </div>

    </div>
  </div>
</div>