<% url = spree.product_path(product, taxon_id: @taxon&.id) %>

<%= link_to url, class: 'h-100 d-flex flex-column justify-content-between', style:'text-decoration:none;', data: { turbolinks: false } do %>
  <% cache [common_product_cache_keys, product] do %>
    <div class="containerdiv"> 
      <% if @taxon.present? && @taxon.name == "Bulk Orders" %>
        <span class="transect_badge">Bulk Order</span>
      <% elsif product.default_variant.prices.first.compare_at_amount.to_i != 0 && product.default_variant.stock_items.first.count_on_hand > 1 %>
          <span class="discount_badge">Save 
            <%= product.price_in(current_currency).compare_at_amount.to_i-product.price_in(current_currency).price.to_i %>
            <%= current_currency %>
          </span>
      <% else %>
      <% end %>
      <%= image_tag("/assets/lagyi_image/#{product.sku.downcase}/1.jpg", 
      :class=>"img-fluid", 
      :alt=>"ProductImage",
      :onmouseover =>"this.src='/assets/lagyi_image/#{product.sku.downcase}/2.jpg'",
      :onmouseout =>"this.src='/assets/lagyi_image/#{product.sku.downcase}/1.jpg'") %>
    </div> 
    <div style="text-align: center;">
      <div class="product-component-name" title="<%= product.name %>">
         <h6><%= product.name.first(15) %> </h6>
         <span><%= @bulk_order %></span>
         <span class="font-weight-bold">
           <%= display_price(product) %>
         </span>
          <% if product.default_variant.stock_items.first.count_on_hand < 1 %>
            <span style="color:red;font-size:11px;"> SOLD OUT </span>
          <% elsif product.default_variant.prices.first.compare_at_amount.to_i != 0 %>
            <span style="color:gray;">
              <small><del>
                <%= display_compare_at_price(product.default_variant) %>
              </del></small>
            </span>
          <% else %>
          <% end %>
         <br><br>          
      </div>
    </div>
  <% end %>
<% end %>



<style type="text/css">
  
  span.transect_badge {
      display:block;
      position: absolute;
      font-size: 15px;
      color: white;
      padding: 5px;
      margin-top: 5px;
      background-color: black;
  }

  span.discount_badge {
      display:block;
      position: absolute;
      font-size: 15px;
      color: white;
      padding: 3px;
      margin-top: 5px;
      background-color: black;
  }



  

</style>