<div class="container">
   <figure class="text-center">
      <h3>  Style Gallery </h3>
   </figure>
   <div class="row">
        <div class="col-sm">
         <%=image_tag 'blog_img.jpg', :class=>"img-fluid", :alt=>"Responsive image" %>
         <p class="text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget tempus enim. Suspendis nec tristique turpis. Cras lectus eni.
         </p>
      </div>
        <div class="col-sm">
         <%=image_tag 'blog_img.jpg', :class=>"img-fluid", :alt=>"Responsive image" %>
         <p class="text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget tempus enim. Suspendis nec tristique turpis. Cras lectus eni.
         </p>
      </div>
        <div class="col-sm">
         <%=image_tag 'blog_img.jpg', :class=>"img-fluid", :alt=>"Responsive image" %>
         <p class="text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget tempus enim. Suspendis nec tristique turpis. Cras lectus eni.
         </p>
      </div>
      <div class="col-sm">
         <%=image_tag 'blog_img.jpg', :class=>"img-fluid", :alt=>"Responsive image" %>
         <p class="text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget tempus enim. Suspendis nec tristique turpis. Cras lectus eni.
         </p>
      </div>
   </div>
</div>