<% headers = ['id','item_group_id','title','description','link','image_link','price','availability','condition','google_product_category','brand','age_group','color','gender','material','size','size_system'] %><%= CSV.generate_line headers %><% @products.each do |product| %><%= CSV.generate_line(
    [product.id,
    product.sku,
    product.name,
    "Free Shipping",
    "https://loveubae.com/products/#{product.slug}",
    "https://www.loveubae.com/assets/lagyi_image/#{product.sku.downcase}/1.jpg",
    price_to_decimal(product.price),
    check_stock(product.default_variant.stock_items.first.count_on_hand),
    "new",
    "#{@google_category}",
    "LOVEUBAE Clothing",
    "adult",
    fix_option_color(product.default_variant),
    "unisex",
    "cotton",
    fix_option_size(product.default_variant),
    "CN"],encoding:'iso-8859-1').html_safe %><% end %>