<% headers = ['id', 'item_group_id', 'title', 'description', 'link', 'image_link', 'price', 'availability', 'condition', 'google_product_category'] %><%= CSV.generate_line headers %><% @products.each do |product| %><%= CSV.generate_line(
    [product.id,
    "PIN-#{product.id}",
    product.name,
    "Free Shipping",
    "https://loveubae.com/products/#{product.slug}",
    "https://www.loveubae.com/assets/lagyi_image/#{product.sku.downcase}/1.jpg",
    product.price,
    "in stock",
    "New",
    "#{@google_category}"],encoding:'iso-8859-1').html_safe %><% end %>